/*CSS style for reseptit.html*/
body {
        background-color:#cfbb9d
}

body h1 {
        padding: 0.5em;
}

header {
        align:center;
}

header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

article {
        background-color: white;
        padding: 2.0em;
        margin: 1em;
}

article h2 {
        color: #6b3600;
       font-size: 1.5em;
       margin: 5px;
} 

.ainekset {
        background-color: #fffaf2;
        color: #827a6d;
        margin: 1.2em;
        padding: 1em;
}

.ainekset h3 {
        color : #6b6357;
        margin: 0px;
}

nav {
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        gap: 1rem;
        max-width:100px;
}

.box {
        background-color:#e8d9c3;
  border: 1px solid;
  font-weight: 500;
  text-align: center;
  width: 10rem;
  box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3),
    0px 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 1rem;
}
